<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637183836447-vvsp5aaeqn593vvap64ma840sa0mtuej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637183836447-vvsp5aaeqn593vvap64ma840sa0mtuej</string>
	<key>API_KEY</key>
	<string>AIzaSyDhO7l3LG-KkY0RI5tszUym9qPJJtr1EOs</string>
	<key>GCM_SENDER_ID</key>
	<string>637183836447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutter</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-41826</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-41826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637183836447:ios:14f068a9f299c7c4e5f02a</string>
</dict>
</plist>